<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utstyr Skjema (Endre)</title>
    <link rel="stylesheet" href="/static/top-og-bottom.css">
    <link rel="stylesheet" href="/static/skjemaer.css">
</head>
<body>
    <header>
        <nav class="links">
            <a href="/" aria-label="Hjem">Hjem</a>
            <a href="../skjema/logg-inn" aria-label="Logg inn">Logg inn</a>
            <a href="/oversikt" aria-label="Oversikt (Utstyr)">Oversikt (Utstyr)</a>
            <a href="../skjema/endre" aria-current="page" aria-label="Utstyr Skjema (Endre)">Utstyr Skjema (Endre)</a>
            <a href="../skjema/legge" aria-label="Utstyr Skjema (Legge)">Utstyr Skjema (Legge)</a>
        </nav>

        <h1>Utstyr Skjema (Endre)</h1>
    </header>

    <main>
        <p id="skjema-text">Fyll ut endre utstyr skjemaet:</p>

        <form action="/skjema/endre/send" class="skjema" method="post">
            <label for="id">Identifiser utstyr (id):</label>
            <input type="text" name="id" id="id" autocomplete="on" placeholder="Utstyr id (identifikasjon)..." aria-placeholder="Utstyr id (identifikasjon)..." required aria-required="true">
            <label for="navn">Endre utstyrs navn:</label>
            <input type="text" name="navn" id="navn" autocomplete="on" placeholder="Endre utstyr navn..." aria-placeholder="Endre utstyr navn..." required aria-required="true">
            <label for="beskrivelse">Endre beskrivelse:</label>
            <input type="text" name="beskrivelse" id="beskrivelse" autocomplete="on" placeholder="Endre beskrivelse..." aria-placeholder="Endre beskrivelse..." required aria-required="true">
            <label for="tilstand">Endre utstyrs tilstand:</label>
            <input type="text" name="tilstand" id="tilstand" autocomplete="on" placeholder="Endre utstyr tilstand..." aria-placeholder="Endre utstyr tilstand..." required aria-required="true">
            <label for="lånt-av">Endre lånt av:</label>
            <input type="text" name="lånt-av" id="lånt-av" autocomplete="on" placeholder="Endre lånt av..." aria-placeholder="Endre lånt av..." required aria-required="true">
            <label for="dato-utlånt">Endre dato utlånt:</label>
            <input type="text" name="dato-utlånt" id="dato-utlånt" autocomplete="on" placeholder="Endre dato utlånt..." aria-placeholder="Endre dato utlånt..." required aria-required="true">

            <button type="submit" id="submit-btn" aria-label="Endre">Endre</button>
        </form>
    </main>

    <script src="/static/js/skjemaer.js" defer></script>
</body>
</html>