header h1 {
    margin-bottom: var(--space)
}
#skjema-text {
    text-align: center
}
main form.skjema {
    align-content: center;
    display: grid;
    justify-items: center
}
main form.skjema input,
#submit-btn {
    border: none
}
main form.skjema label, main form.skjema input {
    height: clamp(50%, 4vh, 100%);
    margin-bottom: 0.5rem;
    width: clamp(60%, 15vw, 75%)
}
#submit-btn {
    border-radius: 0.5rem;
    margin-top: 2rem;
    transition: filter 500ms ease-in-out;
    width: clamp(15%, 10vw, 25%);
    &:hover, &:focus {
        filter: brightness(0.65)
    }
}
@media (prefers-color-scheme: dark) {
    main form.skjema input,
    #submit-btn {
        background-color: #444;
    }
}