*, *::after, *::before {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0
}
@supports (text-wrap: pretty) {
    *, *::after, *::before {
        text-wrap: pretty
    }
}
body, html {
    max-width: 100%;
    min-height: 100vh
}
@supports (min-height: 100svh) {
    body, html {
        min-height: 100svh
    }
}
body {
    background-color: greenyellow
}
html {
    font-size: 16px;
    scroll-behavior: smooth
}
@supports (scrollbar-gutter: stable) {
    html {
        scrollbar-gutter: stable
    }
}
header h1 {
    font-family: 40px;
    line-height: 1.3
}
a, button {
    cursor: pointer
}
a:focus, button:focus {
    outline: 0.5rem solid aquamarine
}
@media (prefers-color-scheme: dark) {
    body, body * {
        color: #fff
    }
    body {
        background-color: rgb(59, 92, 10)
    }
    a:focus, button:focus {
        outline: 0.5rem solid rgb(33, 76, 62)
    }
}